{:in-oggs-path "/home/streams"
 :out-oggs-path "/home/imports"
 :python-path "/usr/lib/airtime/airtime_virtualenv/bin/python"
 :duration-path "/home/src/defragment/duration.py"
 :cmd-path "/bin/cat"
 :backup-dir "/home/backups"
 :db-path "/home/streams/defragment-cache.edn"
 :out-commands-file "/tmp/get-me"
 :rss-base-url "http://radio.spaz.org/archives/imports/"
 :rss-self-url "http://radio.spaz.org/archives.rss"
 :rss-out-file "/home/streams/archives.rss"}
