{:in-oggs-path "/home/streams"
 :out-oggs-path "/home/imports"
 :cmd-path "/bin/cat"
 :backup-dir "/home/backups"
 :out-commands-file "/tmp/get-me"
 :rss-base-url "http://radio.spaz.org/archives/imports/"
 :rss-self-url "http://radio.spaz.org/archives.xml"
 :rss-out-file "/home/streams/archives.xml"}
