{:in-oggs-path "/home/streams"
 :out-oggs-path "/home/imports"
 :python-path "/usr/bin/python"
 :duration-path "/home/src/defragment/duration.py"
 :cmd-path "/bin/cat"
 :backup-dir "/home/backups"
 :db-path "/home/streams/defragment-cache.nip"
 :out-commands-file "/tmp/get-me"
 :rss-base-url "http://radio.spaz.org/archives/imports/"
 :image-base-url "http://radio.spaz.org/archives/images/"
 :rss-self-url "http://radio.spaz.org/archives.rss"
 :rss-out-file "/home/streams/archives.rss"
 :hubzilla {:url "somwehere"
            :listen "something"
            :login "some"
            :pw "apass"}}
